<%- include('partials/header', {title: "success!", allAss: allAss}) -%>

<h2> success! </h2>
<p> your assignment was deleted. congrats on not having to do it anymore</p>
<a href="/today"> click here to see today's tasks</a>
<br>
<a href="/assignmentCreate"> click here to add a new assignment</a>

<%- include('partials/footer') -%>
