<%- include('partials/header', {title:"Oh no! There was an error :(", allAss: allAss}) -%>

<h2> <%=errorCode%> Error</h2>
<p> The resource you requested has not been found.</p>

<%- include('partials/footer') -%>
