<%- include('partials/header', {title:"TASKUP", allAss: allAss}) -%>

<p> welcome to taskup, the online planner where you can see all your assignments broken into bitsize steps!</p>
<a href="/today"> click here to see today's tasks</a>
<br>
<a href="/assignmentCreate"> click here to add a new assignment</a>


  <%- include('partials/footer') -%>
